span {
  display: block;
}

.product-info {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.name {
  // margin-left: 30px;
  text-align: right;
  min-width: 93px;
}

.unitPrice {
  margin-left: 120px;
  text-align: right;
  min-width: 100px;
}

.quantity {
  margin-left: 110px;
  text-align: right;
  min-width: 100px;
}
